[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tidytable"]
	path = tidytable
	url = https://github.com/markfairbanks/tidytable
